# basics
Django
geopy
httplib2
django-debug-toolbar

# API Wrappers
-e git+git://github.com/eyeseast/simple-sunlight.git#egg=simple_sunlight
-e git+git://github.com/eyeseast/python-nytcongress.git#egg=python-nytcongress
