{% extends "congress/base.html" %}

{% block title %}{{ member.common_name }} | {{ block.super }}{% endblock %}

{% block content %}
<div id="member">
	<h2>{{ member }}</h2>
	<div class="image">
		<img src="{{ member.image }}" />
	</div>
</div>

<div id="bills">
	
	<div id="introduced">
		{% for bill in introduced %}
			{% include "bills/bill_list_item.html" %}
		{% endfor %}
	</div>
		{% for bill in updated %}
			{% include "bills/bill_list_item.html" %}
		{% endfor %}
	<div id="updated"></div>
</div>

{% endblock %}