<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
		<title>{% block title %}TweetBill!{% endblock %}</title>
		{% block css %}
		<link href="{{ MEDIA_URL }}css/blueprint/screen.css" rel="stylesheet" type="text/css" media="screen" />
		<style>
		body { font-size: 100%; font-family: Georgia, Serif; color: #898989; background-color: #ffffff; }
		h1, a { color: #0094AF; font-weight: normal; text-decoration: none; }
		</style>
		{% endblock %}
		{% block js %}
		<script src="http://cachedcommons.org/cache/jquery/1.4.2/javascripts/jquery.js" type="text/javascript"></script>
		<script src="http://cachedcommons.org/cache/jquery-ui/1.8.4/javascripts/jquery-ui.js" type="text/javascript"></script>
		{% endblock %}
	</head>
	<body>
		<div id="header">
			<header id="masthead" class="container">
			{% block masthead %}
			<h1><a href="/">TweetBill</a></h1>
			<nav class="">
				<ul>
					<li><a href="">Find Legislators</a></li>
					<li><a href="">Track Bills</a></li>
					<li><a href="">Take Action</a></li>
				</ul>
			</nav>
			{% endblock %}
			</header>
		</div>
		<div id="main">
			<div id="content" class="container">{% block content %}{% endblock %}</div>
		</div>
		<div id="bottom">
			<footer id="footer" class="container">{% block footer %}{% endblock %}</footer>
		</div>
		{% block end %}{% endblock %}
	</body>
</html>
